@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: black;
        color: white; /* Optional: change text color for better readability */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Any Suspicous Behaviour and Search History will be Banned for Eternity.</p>